<!DOCTYPE HTML>
<html >
<head>
<title>Movie_store application</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="app.js"></script>
<!-- start plugins -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>
</head>
<body ng-app="MovieApp" ng-controller="MovieController">
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
		    <div class="col-sm-6 nav">

			</div>
			<div class="col-sm-3 header_right">
			   <ul class="header_right_box">
				 <li><img src="images/p1.png" alt=""/></li>
				 <li><p><a href="http://ahmedanter.com/">Ahmed Antar</a></p></li>
				 <div class="clearfix"> </div>
			   </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>
	      <div class="slider">
	   <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="images/banner.jpg" class="img-responsive" alt=""/>
			</li>
	        <li><img src="images/banner1.jpg" class="img-responsive" alt=""/>

			</li>
	        <li><img src="images/banner2.jpg" class="img-responsive" alt=""/>

			</li>
	      </ul>
	    </div>

      </div>
	      <div class="content">
	   	   <h2 class="m_3">List of movies</h1>
          <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New Movie</button>
          <!-- Trigger the modal with a button -->
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
      	       <div class="movie_top">
      	         <div class="col-md-9 movie_box">
                        <!-- Movie variant with time -->
                        <div class="movie movie-test movie-test-dark movie-test-left" ng-repeat="movie in movies">
                            <div class="movie__images">
                                <a href="single.html" class="movie-beta__link">
                                    <img alt="" ng-src="{{movie.Poster}}" class="img-responsive" alt=""/>
                                </a>
                            </div>
            <div class="movie__info">
                                <a href="single.html" class="movie__title">{{movie.Title}}  </a>
                                <p class="movie__time">{{movie.Runtime}}</p>

              <p class="movie__option"><a href="single.html">{{movie.Year}}</a> | <a href="#">{{movie.Language}}</a> | <a href="single.html">{{movie.Genre}}</a></p>
                                <ul class="list_6">
                  <li><i class="icon1"> </i><p>{{movie.imdbVotes}}</p></li>
                  <li><i class="icon3"> </i><p>{{movie.Metascore}}</p></li>
                  <li>Rating : &nbsp;&nbsp;<p><img src="images/rating1.png" alt=""></p></li>
                  <div class="clearfix"> </div>
                </ul>
                             </div>
                            <div class="clearfix"> </div>
                        </div>
                         <!-- Movie variant with time -->
                                 <div class="clearfix"> </div>
                            </div>
                              <div class="clearfix"> </div>
                         <!-- Movie variant with time -->
                      </div>

                      <div class="clearfix"> </div>
                  </div>
                  <h1 class="recent">BoxOffice</h3>
                   <ul id="flexiselDemo3">
						<li><img src="images/1.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>22.10.2014 | 14:40</p></div></li>
						<li><img src="images/2.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Surf Yoke</a><p>22.01.2015 | 14:40</p></div></li>
						<li><img src="images/3.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Salty Daiz</a><p>22.10.2013 | 14:40</p></div></li>
						<li><img src="images/4.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Cheeky Zane</a><p>22.10.2014 | 14:40</p></div></li>
						<li><img src="images/5.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Synergy</a><p>22.10.2013 | 14:40</p></div></li>
				    </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: {
					    		portrait: {
					    			changePoint:480,
					    			visibleItems: 1
					    		},
					    		landscape: {
					    			changePoint:640,
					    			visibleItems: 2
					    		},
					    		tablet: {
					    			changePoint:768,
					    			visibleItems: 3
					    		}
					    	}
					    });

					});
				   </script>
				   <script type="text/javascript" src="js/jquery.flexisel.js"></script>
				   <ul id="flexiselDemo1">
						<li><img src="images/8.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>22.10.2014 | 14:40</p></div></li>
						<li><img src="images/7.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Surf Yoke</a><p>22.01.2015 | 14:40</p></div></li>
						<li><img src="images/6.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Salty Daiz</a><p>22.10.2013 | 14:40</p></div></li>
						<li><img src="images/1.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Cheeky Zane</a><p>22.10.2014 | 14:40</p></div></li>
						<li><img src="images/2.jpg" class="img-responsive"/><div class="grid-flex"><a href="#">Synergy</a><p>22.10.2013 | 14:40</p></div></li>
				     </ul>
				    <script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: {
					    		portrait: {
					    			changePoint:480,
					    			visibleItems: 1
					    		},
					    		landscape: {
					    			changePoint:640,
					    			visibleItems: 2
					    		},
					    		tablet: {
					    			changePoint:768,
					    			visibleItems: 3
					    		}
					    	}
					    });

					});
				   </script>
		  </div>
</div>
</div>



<div class="container">
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"></span>
		</div>
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="images/f_logo.png" alt=""/>
				</div>
	          <br>
	          <p>It is a single page application developed using Angular JS.</p>
			  <p class="text">i try to do my best to impress .</p>
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					<h3>Categories</h3>
					<ul class="first">
						<li><a href="#">Dance</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Information</h3>
					<ul class="first">
						<li><a href="#">New products</a></li>
						<li><a href="#">top sellers</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Follow Me</h3>
					<ul class="first">
						<li><a href="https://www.facebook.com/AhmedAntar.17">Facebook</a></li>
						<li><a href="https://www.linkedin.com/in/ahmed-antar">Linkedin</a></li>
						<li><a href="https://github.com/Ahmed-Antar">GitHub</a></li>
					</ul>
					<div class="copy">
				      <p>&copy; 2017 devoleped by <a href="http://ahmedanter.com/" target="_blank"> Ahmed Antar</a></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Movie  (you can use <a href="http://www.omdbapi.com/">http://www.omdbapi.com</a> to fill the form)</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
          <div class="form-group">
		    <label class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="newMovie.Title">
		    </div>
		  </div>

      <div class="form-group">
    <label class="col-sm-2 control-label">Year</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Year" placeholder="Year" ng-model="newMovie.Year">
    </div>
  </div>

  <div class="form-group">
<label class="col-sm-2 control-label">Runtime</label>
<div class="col-sm-10">
  <input type="text" class="form-control" id="Runtime" placeholder="100 min" ng-model="newMovie.Runtime">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Genre</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="Genre" placeholder="Genre1, Genre2, Genre3 ..." ng-model="newMovie.Genre">
</div>
</div>

		  <div class="form-group">
		    <label class="col-sm-2 control-label">Director</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="Director" placeholder="Director1, Director2, Director3 ..." ng-model="newMovie.Director">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="Writer" class="col-sm-2 control-label">Writer</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="Writer" placeholder="Writer1, Writer2, Writer3 ..." ng-model="newMovie.Writer">
		    </div>
		  </div>

      <div class="form-group">
		    <label class="col-sm-2 control-label">Actors</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="Actors" placeholder="Actor1, Actor2, Actors3 ..." ng-model="newMovie.Actors">
		    </div>
		  </div>

      <div class="form-group">
		    <label class="col-sm-2 control-label">Language</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="Language" placeholder="Language1, Language1, Language3 ..." ng-model="newMovie.Language">
		    </div>
		  </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Language" placeholder="Language1, Language1, Language3 ..." ng-model="newMovie.Language">
        </div>
      </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Poster</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Poster" placeholder="link of the Poster" ng-model="newMovie.Poster">
        </div>

</div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveMovie();">Save</button>

		    </div>
		  </div>
		</form>
    <!-- end -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

 </div>
</div>
</body>
</html>
